/**!
 * @module buttons#base
 * @description Common button styles.
 */

@import 'mixins';

.btn,
button {
  font-family: inherit;
  font-size: 1rem;
  padding: .5rem;
  margin: .5rem;
  color: @color-black;
  border: none;
  background-color: @color-grey;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none;
  box-sizing: border-box;
  
  &:hover,
  &:active { 
    outline: 0; 
  }

  &.no-hover {
    &:hover { 
      cursor: default;
      opacity: 1; 
    }
  }
  
}

.btn-primary,
.btn-orange {
  .button-variant(@color-orange);
}

.btn-secondary,
.btn-blue {
  //.button-variant(@color-blue);
}

.btn-success {
  //.button-variant(@color-green);
}

.btn-warning {
  //.button-variant(@color-yellow);
}

.btn-error {
  //.button-variant(@color-red);
}
