# Dependencies
node_modules
bower_components

# Build
.build
.cache
.tmp

# npm
npm-debug.log

# MongoDB
journal
local.0
local.ns
mongod.lock
segment.0
segment.ns

# Redis
*.rdb

# Local connection(s) configuration
config/local.js