<form action="/image/upload" enctype="multipart/form-data" method="post">
  <h2>Upload an Image</h2>

  <% if(flash && flash.err) { %>
    <ul>
      <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
      <% }) %>
    </ul>
  <% } %>

  <input type="text" name="title"><br>
  <input type="file" name="avatar" multiple="multiple"><br>

  <br />

  <input type="submit" value="Upload Image"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
