<!doctype html>
<html>
<head>
<title>Forbidden</title>
</head>
<body>
<main role=main>
  <h1>
    Forbidden
  </h1>
  <h2>
    <% if (typeof error !== 'undefined') { %>
    <%= error %>
    <% } else { %>
    You don't have permission to see the page you're trying to reach.
    <% } %>
  </h2>
</main>
</body>
</html>
