<!doctype html>
<html>
<head>
<title>Not Found</title>
</head>
<body>
<main role=main>
  <h1>
    Not Found
  </h1>
  <h2>
    <% if (typeof error !== 'undefined') { %>
    <%= error %>
    <% } else { %>
    This page does not exist.
    <% } %>
  </h2>
</main>
</body>
</html>
