

<!doctype html>
<html>
<head>
<title>Not Found</title>
</head>
<body>
<main role=main>
  <h1>
    Not Found
  </h1>
  <h2>
    <% if (typeof error !== 'undefined') { %>
        <pre class="error"><code>
          <%- error %>
        </code></pre>
        <% } else { %>
       <p class="error">
          A team of highly trained sea bass is working on this as we speak.<br/>
          If the problem persists, please <a href="mailto://you@your-domain.com">contact the system administrator</a> and inform them of the time that the error occured, and anything you might have done that may have caused the error.
        </p>
      <% } %>
  </h2>
</main>
</body>
</html>
