@color-black: ;
@color-white: ;
@color-grey: ;

@color-orange: ;
@color-orange-dark: ;
@color-orange-light: ;

@color-blue: ;
@color-blue-dark: ;
@color-blue-light: ;

@color-red: ;
@color-red-dark: ;
@color-red-light: ;

@font-family-primary: '', Helvetica, Arial, sans-serif;
@font-family-secondary: '', Helvetica, Arial, sans-serif;

@screen-medium: ;
@screen-small: ;
@screen-large: ;