<h1>This is our home page.</h1>
<a href="/user/new">Sign Up!</a>
<a href="/session/new">Sign In!</a>

<br />

<% if (session.authenticated) { %>
  <h3> User </h3>
  <br />
  <a href="/user/show/<%= session.User.id %>"><%= session.User.name %></a>
  <a href="/session/destroy/<%= session.User.id %>">Sign Out</a>
<% } %>
